<!DOCTYPE html>
<html>
  <head>
    <title><%= t('Localcommerce') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-expand-sm bg-light">
      <div class="container-fluid">
        <div class="logo_wrapper">
          <a href="#">
            <%= image_tag "logoNB.svg",
                          alt: "logo", class: "img_responsive" %>
          </a>
        </div>
        <%= render "layouts/login_logout_menu" %>
      </div>
    </nav>

    <div id="container" class="container-fluid">

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
  </body>
</html>
